@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: auto;
    padding: 0;
    width: 80%;
}





/* Box 1 */
.box1{
    background-image:  linear-gradient(to right, #ef629f, #eaaf62); 
    width: 90%;
    position: relative;
    margin: auto;
    border-radius: 25px;
}
.box1 p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: rgb(228, 228, 228);
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    
}
.box1 h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

 /* Box 2 */
.box2{
    background-image: linear-gradient(to right, #b24592, #f15f79);
    width: 90%;
    position: relative;
    margin: auto;
    border-radius: 25px;
}
.box2 p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}
.box2 h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

}

.box2 h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.box2 a:link {
    color:  rgb(148, 191, 255);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .box2 a:hover {
    color: rgb(255, 193, 254);
    background-color: transparent;
    text-decoration: underline;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

  }

  .box2 a:visited {
  color:  rgb(255, 193, 254);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}


/* Box 3 */
.box3{
    background-image: linear-gradient(to right, #eecda3, #ef629f);;
    width: 90%;
    position: relative;
    margin: auto;
    border-radius: 25px;
}
.box3 p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}
.box3 h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

}

.box3 h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    
}

/* Command Boxs */
.commandbox{
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.commandbox p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: black;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
}
.commandbox h1 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: black;

}

.commandbox h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: black;
}

/* Transparent Line */
.transhr hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #cccccc81;
    margin: auto;
    padding: 0;
    width: 80%;
}




