@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{
    scroll-behavior: smooth;
}

  /* Navigation Bar*/
  .topnav {
    z-index: -1;
    background-color: transparent;
    overflow: hidden;
    height: 83.4px;
    top: 0;
    padding-right: 15px;
  }

  .NavLinks a {
    font-family: 'Poppins', sans-serif;
    float: right;
    color: #d8c4c4;
    text-align: center;
    transition: all 0.2s ease; 
    text-decoration: none;
    border-radius: 8px;
  }

  .NavLinks a:hover {
    text-decoration: underline;
    color: rgb(190, 190, 190);
    letter-spacing: 0.03em;
  }
  
  .NavLinks a.active {
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: underline;;
  }

  
  .HomeNav a {
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease; 
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: auto;
    text-decoration: none;
    border-radius: 8px;
    letter-spacing: normal;
    cursor: default;
  }

body::-webkit-scrollbar {
    background-color: transparent;
    display: none;
  }

.body{
    background-image: linear-gradient(to right, #c33764, #1d2671);
    backdrop-filter: blur(10px);
}

.bodybubble{
    background-color: rgba(128, 128, 128, 0.426);
    margin: auto;
    border-radius: 25px;
}

.bodybubble p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.bodybubblecen {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

.logoimg{
    display: block;
    width: fit-content;
    margin: auto;
}

img {
  height: auto;
  width: auto\9; /* ie8 */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.bubbletitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 55px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
    margin: auto;
}

.bodybubble hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #cccccc7a;
    margin: auto;
    padding: 0;
    width: 80%;
}

.bodybubble a:link {
  color: rgb(164, 195, 207);
  background-color: transparent;
  text-decoration: none;
  width: fit-content;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}  

.bodybubble a:hover {
  color:  rgb(236, 130, 220);
  background-color: transparent;
  text-decoration: underline;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

}

.bodybubble a:visited {
color:  rgb(164, 195, 207);
background-color: transparent;
text-decoration: none;
filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.bodybubble a:visited:hover {
color:  rgb(236, 130, 220);
background-color: transparent;
text-decoration: none;
filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}


/* Footer */
.footer {
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
  }

  .footer a:link {
    color:  rgb(147, 170, 226);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .footer a:hover {
    color:  rgb(225, 122, 221);
    background-color: transparent;
    text-decoration: underline;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

  }

  .footer a:visited {
  color:  rgb(147, 170, 226);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.footer a:visited:hover {
  color:  rgb(225, 122, 221);
  background-color: transparent;
  text-decoration: underline;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

}



/* Transparent Line */
.transhr hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #cccccc81;
    margin: auto;
    padding: 0;
    width: 80%;
}

/* Platform Optimizations */

/* Media Query For Desktop */
@media only screen and (min-device-width: 450px) and (min-device-height: 860px){
    /* Navigation Bar*/
  .NavLinks a {
    padding: 21px 50px;
    font-size: 26px;
  }   
  .HomeNav a {
    font-size: 28px;
    padding: 21px 30px;
  }
  .topnav {
    position: sticky;
  }
  /* Main Bubble */
  .bodybubble{
    width: 65%;
    margin-top: 2%;
  }
  .center {
    max-width: 100%;
  }
  .bodybubble p {
    font-size: 16px;
  } 
  .bubbletitle {
    font-size: 40px;
  }
  .widget{
    max-width: 100%;
  }
  .topembed{
    height: 150px;
  }
}

/* Media Query For Laptops */
@media only screen and (max-height: 850px) and (min-width: 420px){
  /* Nav Bar */
  .topnav{
    position: relative;
  }
  /* Main Bubble */
  .bodybubble{
    width: 45%;
  }
}

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    /* Navigation Bar*/
    .NavLinks a {
      padding: 10px 8px;
      font-size: 18px;
    }   
    .HomeNav a {
      font-size: 20px;
      padding: 10px 15px;
    }
    /* Main Bubble */
    .bodybubble{
      width: 85%;
      margin-top: 2%;
    }
    .center {
      max-width: 70%;
    }
    .bodybubble p {
      font-size: 14px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .bubbletitle {
      font-size: 28px;
    }
    .widget{
      max-width: 70%;
    } 
    .topembed{
      height: 105px;
    } 
   /* Footer */
   .footer{
    padding: 0px;
   }
   .footer p {
    font-size: 13px;
  }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
    /* Navigation Bar*/
    .NavLinks a {
      padding: 10px 8px;
      font-size: 16px;
    }   
    .HomeNav a {
      font-size: 18px;
      padding: 10px 15px;
    }
    .footer{
      padding: 0px;
     }
     .footer p {
      font-size: 12px;
    }
}



