.MemeContainer{
    margin: auto;
    padding: 50px
}

.MemeImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.MemeText{
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 300px;
}