/* Box 2 */
.box2{
    /* background-image: linear-gradient(to right, #f15f79, #b24592); */
    background-color: rgba(255, 255, 255, .15); 
    border: 1px solid rgba(255, 255, 255, .05); 
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
    margin: auto;
    border-radius: 25px;
    width: 45%;
}

.box2 p {
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    text-align: left;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-size: 17px;
}

.box2 h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    text-align: left;
    margin-left: 95px;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-size: 30px;
}

.box2 h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    text-align: left;
    margin-left: 95px;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-size: 25px;
}

.box2 a:link {
    color:  rgb(195, 199, 248);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
}  

.box2 a:hover {
    color: rgb(225, 122, 221);
    background-color: transparent;
    transition: 0.1s;
}

.box2 a:visited {
  color:  rgb(195, 199, 248);
  background-color: transparent;
  text-decoration: none;
}

.box2 a:visited:hover {
  color:  rgb(225, 122, 221);
  background-color: transparent;
  text-decoration: none;
}

/* Platform Optimizations */ 
/* Media Query For Laptops */
@media only screen and (max-width: 1555px){
    .box2{
        width: 50%;
    }
}
@media only screen and (max-width: 1350px){
    .box2{
        width: 55%;
    }
}
@media only screen and (max-width: 1200px){
    .box2{
        width: 60%;
    }
}
@media only screen and (max-width: 1100px){
    .box2{
        width: 65%;
    }
}
@media only screen and (max-width: 1000px){
    .box2{
        width: 70%;
    }
}
@media only screen and (max-width: 900px){
    .box2{
        width: 75%;
    }
}
@media only screen and (max-width: 800px){
    .box2{
        width: 80%;
    }
}

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    /* Box 2 */
    .box2{
        width: 95%;
    }
    .box2 p {
        font-size: 16px;
        text-align: left;
        margin-left: 17px;
        margin-right: 20px;
        padding-left: 17px;
        padding-right: 5px;
    }
    .box2 h1 {
        font-size: 20px;
        margin-left: 35px;
    } 
    .box2 h2{
        font-size: 17px;
        margin-left: 35px;
    }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
    /* Box 2 */
    .box2 p {
        font-size: 15px;
        text-align: left;
        margin-left: 17px;
        margin-right: 20px;
        padding-left: 17px;
        padding-right: 5px;
    }
    .box2 h1 {
        font-size: 19px;
        margin-left: 30px;
    } 
    .box2 h2{
        font-size: 16px;
        margin-left: 30px;
    }
}




