/* Command Boxs */
.commandbox{
    border: 2px solid rgba(255, 255, 255, 0.747); 
    margin: auto;
    border-radius: 20px;
    width: 80%;
    transition: 0.05s;
    background-color: rgba(255, 255, 255, .15); 
    border: 1px solid rgba(255, 255, 255, .05); 
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}

.commandbox:hover{
    transform: scale(1.020); 
}

.commandbox br{
    display: block;
    margin: 20px 0;
}

.commandbox p {
    color: rgb(255, 255, 255);
    filter: none;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    cursor:default;
}

.commandbox p#commandname {
    font-size: 18px;
}

.commandtopmargin{
    margin-top: 25px;
}

/* Platform Optimizations */
/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    /* Command Box's */
    .commandbox{
        width: 90%;
    }
    .commandbox p#commandname {
        font-size: 18px;
    }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
    /* Command Box's */
    .commandbox p#commandname {
        font-size: 17px;
    }
}





