/* Footer */
.footer {
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
  }

  .footer a:link {
    color:  rgb(147, 170, 226);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .footer a:hover {
    color:  rgb(225, 122, 221);
    background-color: transparent;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    transition: 0.1s;
  }

  .footer a:visited {
  color:  rgb(147, 170, 226);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.footer a:visited:hover {
  color:  rgb(225, 122, 221);
  background-color: transparent;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  transition: 0.1s;
}

/* Platform Optimizations */
/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
 /* Footer */
 .footer{
  padding: 0px;
 }
 .footer p {
  font-size: 13px;
}
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
  /* Footer */
 .footer{
  padding: 0px;
 }
 .footer p {
  font-size: 12px;
}
}



