@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&family=Poppins&family=Roboto+Mono&display=swap');

/* Navigation Bar*/
.topnav {
  z-index: 1;
  background-color: transparent;
  height: 83.4px;
  top: 0px;
  padding-right: 15px;
  position: sticky;
}

.NavLinks a {
  font-family: 'Poppins', sans-serif;
  float: right;
  color: #ffffff;
  text-align: center;
  transition: all 0.10s ease; 
  text-decoration: none;
  border-radius: 8px;
  padding: 21px 18px;
  font-size: 26px;
}

.NavLinks a:hover {
  color: #bda8e0;
}
  
.HomeNav a {
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease; 
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin: auto;
  text-decoration: none;
  border-radius: 8px;
  letter-spacing: normal;
  cursor: default;
  font-size: 28px;
  padding: 21px 30px;
}

  
/* Platform Optimizations */
/* Media Query For Laptops */
@media only screen and (max-width: 1555px){
  /* Nav Bar */
  .topnav{
    position: relative;
  }
}

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
  /* Navigation Bar*/
  .topnav{
    position: relative;
  }
  .NavLinks a {
    padding: 10px 8px;
    font-size: 19px;
    padding: 15px 8px;
  }   
  .HomeNav a {
    font-size: 20px;
    padding: 15px 15px;
  }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
  /* Navigation Bar*/
  .NavLinks a {
    padding: 15px 8px;
    font-size: 16px;
  }   
  .HomeNav a {
    font-size: 17.5px;
    padding: 15px 15px;
  }
}