.bodybubble{
    background-color:  rgba(128, 128, 128, 0.426);
    margin: auto;
    border-radius: 25px;
    width: 35%;
    margin-top: 5%;
}

.bodybubble p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.bodybubblecen {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
}

.num2cen {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.493);
    font-size: 17px;
}

.center {
    max-width: 100%;
}

.logoimg{
    display: block;
    width: fit-content;
    margin: auto;
}

img {
  height: auto;
  width: auto\9; /* ie8 */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.bubbletitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 60px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
    margin: auto;
}

.bodybubble hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #cccccc7a;
    margin: auto;
    padding: 0;
    width: 80%;
}

.bodybubble a:link {
    color: rgb(164, 195, 207);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .bodybubble a:hover {
    color:  rgb(236, 130, 220);
    background-color: transparent;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    transition: 0.1s;

  }

  .bodybubble a:visited {
  color:  rgb(164, 195, 207);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.bodybubble a:visited:hover {
  color:  rgb(236, 130, 220);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  transition: 0.1s;
}



/* Platform Optimizations */
/* Media Query For Laptops */
@media only screen and (max-height: 850px) and (min-width: 420px){
/* Main Bubble */
.bodybubble{
  width: 45%;
}
}

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
  /* Navigation Bar*/
  .NavLinks a {
    padding: 10px 8px;
    font-size: 18px;
  }   
  .HomeNav a {
    font-size: 20px;
    padding: 10px 15px;
  }
  /* Main Bubble */
  .bodybubble{
    width: 85%;
    margin-top: 2%;
  }
  .center {
    max-width: 70%;
  }
  .bodybubble p {
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .bodybubblecen {
    font-size: 18px;
  }
  .num2cen {
    font-size: 15px;
  }
  .bubbletitle {
    font-size: 28px;
  }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
  /* Navigation Bar*/
  .NavLinks a {
    padding: 10px 8px;
    font-size: 16px;
  }   
  .HomeNav a {
    font-size: 18px;
    padding: 10px 15px;
  }
  .footer{
    padding: 0px;
   }
   .footer p {
    font-size: 12px;
  }
  .bodybubblecen {
    font-size: 17px;
  }
  .num2cen {
    font-size: 14px;
  }
}











