.bodybubble{
  background-color: rgba(255, 255, 255, .15); 
  border: 1px solid rgba(255, 255, 255, .05); 
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  backdrop-filter: blur(5px);
  margin: auto;
  border-radius: 25px;
  width: 65%;
  margin-top: 2%;
}

.bodybubble p {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.bodybubblecen {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
}

.logoimg{
  display: block;
  width: fit-content;
  margin: auto;
}

img {
  height: auto;
  width: auto\9; /* ie8 */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.bubbletitle {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  letter-spacing: 0.02em;
  cursor: default;
  transition: 0.2s;
  width: fit-content;
  margin: auto;
  font-size: 40px;
}

.bodybubble hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid #cccccc7a;
  margin: auto;
  padding: 0;
  width: 80%;
}

.bodybubble a:link {
  color:  rgb(195, 199, 248);
  background-color: transparent;
  text-decoration: none;
  width: fit-content;
}  

.bodybubble a:hover {
  color: rgb(225, 122, 221);
  background-color: transparent;
  transition: 0.1s;
}

.bodybubble a:visited {
  color:  rgb(195, 199, 248);
  background-color: transparent;
  text-decoration: none;
}

.bodybubble a:visited:hover {
  color:  rgb(225, 122, 221);
  background-color: transparent;
  text-decoration: none;
}

/* Transparent Line */
.transhr hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid #cccccc81;
  margin: auto;
  padding: 0;
  width: 80%;
}

/* Platform Optimizations */
/* Media Query For Laptops */
@media only screen and (max-height: 850px) and (min-width: 420px){
  /* Main Bubble */
  .bodybubble{
    width: 45%;
  }
}

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    /* Main Bubble */
    .bodybubble{
      width: 90%;
      margin-top: 2%;
    }
    .bodybubble p {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .bubbletitle {
      font-size: 30px;
    }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
    /* Main Bubble */
    .bodybubble p {
      font-size: 15px;
    }
    .bubbletitle {
      font-size: 29px;
    }
}




