on: push
jobs: 
    build-container:
        name: Build container
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Login to Docker Hub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        - name: Build and push to Docker Hub
          uses: docker/build-push-action@v5
          with: 
            context: .
            push: true
            tags: oribia/meiibot.xyz:latest, oribia/meiibot.xyz:${{ github.run_number }}
        